body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    height: 100vh; /* Ocupar el alto total de la vista */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}
.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn-secondary {
    background-color: #C70039;
    border-color: #C70039;
}
.btn-secondary:hover {
    background-color: #900C3F ;
    border-color: #900C3F ;
}
.zoom-effect:hover {
    transform: scale(1.1) !important;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.zoom-effect {
    transition: transform 0.3s ease-in-out;
}

